.Home {
  text-align: center;
}

.Home > :first-child {
  margin-top: 0;
  margin-left: 0;
}


.Home-button {
  cursor: pointer;
  background-color: #4D5B9E;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  color: #F5F7FB
}
