.question-title {
  font-size: 16px;
}

.answers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
}

.answers-container input[type=radio] {
  display: none;
}

.answer-container {
  height: auto;
}

.answer-label {
  display: block;
  font-size: 11px;
  padding: 5px 15px;
  border: solid 1px var(--text-color);
  border-radius: 8px;
  margin-right: 13px;
  margin-bottom: 10px;
  cursor: pointer;
}

.answers-container > :last-child .answer-label {
  margin-right: 0;
}


.answers-container input[type=radio]:checked + .answer-label {
  background-color: var(--secondary-color);
  border: none;
  padding: 6px 16px;
}
