.Quiz {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 700px;
}

.question-divider {
  width: 100%;
  border: none;
  border-bottom: 1px solid #DBDEF0;
}

.Quiz .button {
  width: fit-content;
  align-self: center;
  margin: 20px;
}
