.Quiz {
  display: flex;
  flex-direction: column;
  width: min(90vw, 700px);
}

.question-divider {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
}

.Quiz .button {
  width: fit-content;
  align-self: center;
  margin: 20px;
}

.score-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
