:root {
  --_white: #F5F7FB;
  --_bluer-white: #D6DBF5;
  --_blue: #4D5B9E;
  --_darker-blue: #293264;
  --_light-green: #94D7A2;
  --_light-red: #F8BCBC;

  --neutral-color: var(--_white);
  --secondary-color: var(--_bluer-white);
  --action-color: var(--_blue);
  --text-color: var(--_darker-blue);
  --correct-answer-color: var(--_light-green);
  --wrong-answer-color: var(--_light-red);
}

.App {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/bottom-left-blob.png"), url("./assets/top-right-blob.png");
  background-position: bottom left, top right;
  background-repeat: no-repeat;
  background-color: var(--neutral-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}

.button {
  cursor: pointer;
  background-color: var(--action-color);
  color: var(--neutral-color);
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
}
